body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('https://tolgacansaygili.github.io/test/bg.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    background-position-y: 0px;
    overflow: auto;
}

.container {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 750px;
    margin: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    width: calc(100% - 22px);
    box-sizing: border-box;
    border-radius: 18px;
    border-width: 0px;
    outline: none;
}

input:focus {
    border-color: #666;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.highlight-green {
    color: #000000;
    font-weight: bold;
}

.outcome-detail {
    color: #000000;
    font-weight: regular;
 
}


.error-placeholder::placeholder {
    color: rgba(0, 0, 0, 0.5); /* Placeholder rengini gri ve silik yapar */
    font-style: italic;
}


.highlight-red {
    color: #000000;
    font-weight: bold;
}
